# Email Configuration (SMTP2GO)
SMTP2GO_USER=your_smtp_username_here
SMTP2GO_PASS=your_smtp_password_here

# Sender & Contact Info
MAIL_DEFAULT_SENDER=noreply@yourdomain.com
CONTACT_EMAIL=your_personal_email@example.com