:root {
  color-scheme: light dark;
}

/*:root {
  --accent: rgb(201, 103, 149);
}*/

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
}
/*
.col-bisque {
    background-color: #ffdddd;
}

.col-lightblue {
    background-color: #ddeeff;
}

.col-lightgreen {
    background-color: #ddffdd;
}
*/

/* keep simple.css base, just enhance links in sections */

.button, .openBtn, .closeBtn, button[type="submit"] {
    font-weight: 600;
}

.closeBtn {
  background-color: tomato;
  border: none;
}
.closeBtn:hover {
    background-color: #ff8288 !important;
}

button[type="submit"] {
    background-color: forestgreen;
    border: none;
}
button[type="submit"]:hover {
    background-color: #27aa63;  
    cursor: pointer;
}