<!DOCTYPE html>
<html>

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}YPB portfolio{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
</head>

<body>

    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
        </nav>
    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div style="color: green;" class="notice">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>

    <footer>
        <p>&copy; 2026 Ynna Pauline Bautista. All rights reserved.</p>
    </footer>

</body>

</html>