<p><button class="openBtn" data-target="contactDialog">Contact me</button></p>

<dialog id="contactDialog" class="contactDialog">
    <form method="POST" action="/contact">
        <h2>Human input required...</h2>
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email" required>
        <textarea name="message" placeholder="Message" required></textarea>
        <br><br>
        <button type="submit">Send</button>
        <button type="button" class="closeBtn">Close</button>
    </form>
</dialog>