{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

<h1>{{ page.title }}</h1>
<div>
    {% if page.aside %}
    <aside>
        <h5>{{ page.aside.title }}</h5>
        <p>{{ page.aside.body }}</p>
    </aside>
    {% endif %}
    {% if page.sections %}
        {% for section in page.sections %}
            <h2>{{ section.heading }}</h2>
            <p>{{ section.body }}</p>

            {% if section.list %}
              <ul>
                {% for item in section.list %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            {% if section.links %}
                <div class="section-links">
                    {% for link in section.links %}
                        {% if link.url %}
                            <a class="button" href="{{ link.url }}" target="_blank" rel="noopener">
                                {{ link.label }}
                            </a>
                        {% else %}
                            <button class="button openBtn" data-target="notReadyDialog">
                                {{ link.label }}
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>{{ page.body }}</p>
    {% endif %}
</div>



{% if page.notice %}
<p class="notice">{{ page.notice }}</p>
{% endif %}

{% if page.image %}
<figure>
    <img src="{{ url_for('static', filename=page.image.src) }}" alt="{{ page.image.alt }}">
    <figcaption>{{ page.image.caption }}</figcaption>
</figure>
{% endif %}

{% for image in page.images %}
<figure>
    <img src="{{ url_for('static', filename=image.src) }}" alt="{{ image.alt }}">
    <figcaption>{{ image.caption }}</figcaption>
</figure>
{% endfor %}

{% if page.link %}
<a href="{{ page.link.url }}">{{ page.link.text }}</a>
{% endif %}



{% if page.columns %}
<div class="row">
    {% for col in page.columns %}
    <div class="column col-{{ col.color }}">
        {% if col.title %}
        <h3>{{ col.title }}</h3>
        {% endif %}
        {% if col.body %}
        <p>{{ col.body }}</p>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}

{% if page.show_contact_form %}
{% include "contact_form.html" %}


{% endif %}

<dialog id="notReadyDialog" class="contactDialog">
    <div>
        <h2>Not ready yet</h2>
        <p>Estimated start: eventually, probably not today.</p>
        <button type="button" class="closeBtn">Close</button>
    </div>
</dialog>

{% endblock %}